.hint-section {
  background-color: #f00e0e;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: center;
}

.hint-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.stats-container,
.colors-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stat-icon,
.color-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  margin: 0 5px;
}

.stat-value {
  font-size: 1.5em;
  font-weight: bold;
}

.hint-content {
  font-size: 1em;
  color: #333;
}

.mana-cost-container,
.card-text-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mana-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.mana-number {
  font-size: 1.2em;
  margin: 0 5px;
}

.image-container {
  text-align: center;
  margin-top: 15px;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.stat-icon:hover,
.color-icon:hover {
  filter: brightness(1.2);
}
