/* Style for text with outline */
.white-text-with-outline {
  color: white;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 1),
    1px -1px 0 rgba(0, 0, 0, 1),
    -1px 1px 0 rgba(0, 0, 0, 1),
    1px 1px 0 rgba(0, 0, 0, 1);
  font-size: 1.1em;
}

/* * {
  scrollbar-width: thin;
} */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afadad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
